

.main_container{
    display: flex;
    flex-wrap: nowrap;
}

.menu1{
    min-width: 200px;
    width: 23%;
    max-width: 350px;
    background-color: #2c2c34;

}
.schedule_container{
    width: 81%;
    background-color: #1b1b22;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
}

.shadow{ /*4, 8, 6, 20*/
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19);
}

.menu1_settings{
    min-height: calc(100vh - 65px - 20px);
    padding: 10px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.menu1_submit{
    min-height: 45px;
    padding: 10px;
    box-shadow: 0px 4px 6px 10px rgba(0, 0, 0, 0.2), 0px 4px 6px 10px rgba(0, 0, 0, 0.19);
    align-items: right;
    text-align: right;
    justify-content: right;
    display: flex;
}

.palette-0{
    fill: #626689
}
.palette-1{
    fill: #6887a5
}
.palette-2{
    fill: #7fb5ad
}
.palette-3{
    fill: #a5cf99;
}
.palette-4{
    fill: #f4e19c;
}
.preschedule_palette{
    fill: #2f5dc139;
}

.avoid_times{
    fill: #ff3f29;
    fill-opacity: 0.35;
}

.chip{
    /*style={{backgroundColor: "#e2e2e2", margin: "2px", marginLeft: "0", fontSize: "8pt"}}*/
    background-color: #e2e2e2;
    margin: 2px;
    margin-left: 0;
    font-size: 8pt;
}

/*.avoid_hours{
    fill: #ff9429;
    fill-opacity: 0.30;
}*/

.class_suggestions{
    width: 100%;
    margin-top: 15px;
    border-radius: 3px;
    min-height: 140px;
    max-height: 300px;
    overflow-y: auto;
    font-size: 14pt;
    background-color: #37373f;
}

.class_suggestion{
    padding: 10px;
    cursor: pointer;
}
.class_suggestion_a{
    background-color: #37373f;
}
.class_suggestion_a:hover{
    background-color: #44444b;
}
.class_suggestion_b:hover{
    background-color: #44444b;
}

.class_list_chips{
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    background: #37373f;
    border: 1px solid #FFF;
    border-radius: 4px;
    min-height: 90px;
    max-height: 230px;
    overflow-y: auto;
}

.unavailable_time_settings{
    border-radius: 4px;
    border: 1px solid #FFF;
    font-size: 12pt;
    margin-top: 15px;
    padding: 10px;
}

@media (max-width: 750px){
    .schedule_container{
        overflow-x: auto;
    }
}